<head>
    <title>Sign up</title>
    <link rel="stylesheet" th:href="@{/form-stylesheet.css}">    
</head>


<div class="container">
    <h2>Javagram</h2>

    <form method="post">
        <input type="text" placeholder="Fist Name">
        <input type="text" placeholder="Last Name">
        <input type="text" placeholder="Username">
        <input type="text" placeholder="Email">
        <p style="font-weight: bold;">Date of Birth</p>
        <input type="date"><br><br>
        <input type="submit" value="Submit">
    </form>
</div>